/*
vert:2db563
Bleu:58b3da
jaune:febc12
mauve:7f66ad
gris: efeff0
*/

body, *{
  box-sizing: border-box;
  font-family: Arial;
  font-weight: bold;
}
.questionInfo{
  margin:5px;
  float:left;
}
label{
  margin-bottom: 20px;
}
.mainTab{
  margin-bottom: 100px;
  padding-bottom: 100px;
}

#root{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
}

@media only screen and (min-width: 400px) {
  #root{
    position: relative;
    
    margin: auto;
  }
}

.App{
  height: 100vh;
}

h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 37px;
}

p{
  
  line-height: 1.7em;
}
.App{
  padding: 1.5vh;
}

.error{
  color: #d01B1b;
  font-weight: bold;
}

input[type=text]{
  border:none;
  background: #ececec;  
  width: 85%;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
}
input[type=text]:focus{
  border-color: red;
}

input[type=text].bigInput{
  height: 60px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
}

.button,
input[type=button]{
  display: block;
  
  border: none;
  
  height: 40px;
  line-height: 30px;
  
  padding: 0 10px;
  
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
#divSearchQuestion{
  background-color: white;
  width: 80%;
  margin-top: 20px;
}
#txtSearchQuestion{
  float: left;
  width: 92%;
  border: none;
  background-color: white;
}
input[type=text], textarea, select{
  display: block;
  
  
  border-radius: 25px;
  height: 40px;
  line-height: 30px;
  width: 85%;
  
  margin-bottom: 10px;
  color: black;
  
  
}
.button,
input[type=button]:hover{
  cursor: pointer;
}
h2 input[type=button].inline{
  transform: translateY(-7px);
}

.header{
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.header .home{
  cursor: pointer;
}

a{
  color: #000000;
  font-weight: bold;
}


.label{
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
}

.radioGroup{
  background: #ececec;
  width: 85%;
  padding: 0px;
  display: flex;
  margin: 0 auto 30px;
  border-radius: 25px;
}
.radioGroup.small{
  width: 40%;
  background: none;
}
.radioGroup.clear{
  background: none;
}

.radioGroup input[type=button]{
  display: inline-block;
  margin: 3px;
  font-size: 11px;

}
.radioGroup input[type=button].active{
  color:#ffffff;
  background: #2db563;
  border-color: #2db563;
}

.radioGroup input[type=button].inactive{
  background: none;
  border: none;
  color: #000000;
}
.round{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.searchButton{
  background-image: url(/public/asset/search.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.greenButton{
  padding:5px;
  border: none;
  background-color: #DAEDD5;
  border-radius: 10px;
}
.footer{
  clear:both;
  text-align: center;
  position: absolute;
  bottom: 0  ;
  width: 100%;
}
.darkgreenBackground{
  background-color: #0B2E02;
}

.greenBackground{
  padding: auto;
  background-color: #1F8505;
}
.greenText{
  color:#1F8505;
}
.redText{
  color: #FF0000;
}
.whiteText{
  color:white;
}
.roundBorderBox{
  border:1px solid #ccc;
  border-radius: 25px;
}
.lineBreak{
  border-bottom: 1px solid #79B669;
  clear:both;
}
.mainSection{
  background-image: url(/public/images/bgr.png);
  padding-top: 20px;
}
.headerText{
  font-size:50px;
}
.searchSection{
  border: none;
  margin:auto;
  height: 400px;
  width: 80%;
  background-image: url(/public/images/hero-bgr.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px;
  
}
.detailSection{
  margin:auto;
  border: none;
  width: 80%;
}
.questionSearchSection{
  padding-top: 98px;
  padding-left: 20px;
  width: 64%;
  height: 100%;
  float: left;
}
.instructionSection{
  width: 35%;
  
  height: 100%;
  float: left;
  background-image: url(/public/images/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.boardSection, .answerSection{
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 50%;
  margin-top: 10px;
  height: auto;
  min-height: 200px;
}
.buttonSection{
  clear:both;
}
.score{
  position: absolute;
  top: -9%;
  left: 38%;
  font-size: 44px;
}
img{
  float: right;
  margin-right: 10px;
  background-repeat: no-repeat;
  position: relative;
  border: none;
}
.smallimage{
  width: 28px;
  height: 28px;
  float: left;
  border: none;
}
.image{
  width: 160px;
  height: 150px;
  float: right;
  margin-right: 10px;
  background-repeat: no-repeat;
  position: relative;
  border: none;
}
.redStarImg{
  background-image: url(/public/images/red-star.png);
  
}
.greenStarImg{
  background-image: url(/public/images/green-star.png);
}
.questionMark{
  background-image: url(/public/asset/question-mark.png);
}
.checkIcon{
  background-image: url(/public/asset/check.png);
}

.smallscore{
  background-color: #F9D490;
  float: left;
  margin-left: 10px;
  border-radius: 12px;
}
.yellowStar{
  background-image: url(/public/asset/star.png);
}
.smallcard{
  background-color: #DAEDD5;
  float: left;
  margin-left: 10px;
  border-radius: 12px;
}
.greenCard{
  background-image: url(/public/asset/card.png);
}
input:focus{
  outline:none;
}
#divSearchQuestion{
  border:none;
}
@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}
